doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        style.
            p {
                color: red;
                text-decoration: underline;
            }
    body
        - const pStyles = {"text-align":"center"}
        p(style="text-align: center;") This is an html file
        p(style=pStyles) This is an html file